#tool_box {
  display: flex;
  background-color: white;
  position: fixed;
  right: 40px;
  top: 72px;
  color: var(--gray400);
  border-radius: 12px;
  box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.1);
}

.contents_panel {
  width: 226px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 12px;
}

.function_panel {
  width: 64px;
  border-left: 1px solid var(--gray200);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.function_panel div {
  margin-top: 12px;
  color: var(--gray300);
}

.icon_big :hover {
  background-color: var(--gray100);
  color: var(--gray500);
}

.focused {
  color: var(--gray900);
}

.menu_on {
  width: 290px;
  height: 70vh;
}

.menu_off {
  width: 64px;
  height: 64px;
  justify-content: center;
  opacity: 0.2;
}

.menu_off div {
  margin-top: 12px;
}

.menu_off:hover {
  opacity: 1;
}
