body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: var(--white);
}

h1 {
  font-size: 132px;
  font-weight: 600;
  letter-spacing: -1px;
  transform: translate(0, 4px);
}

h2 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -0.2px;
}

h3 {
  font-size: 56px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

header {
  margin-top: 80px;
  margin-left: 96px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  box-sizing: border-box;
  text-shadow: 0 0 200px var(--black);
}

.hidden {
  display: none;
  visibility: hidden;
}

#geolocation {
  display: flex;
  justify-content: center;
  align-items: center;
}

#geolocation > div:last-child {
  display: flex;
  align-items: center;
}

.geolocation_section {
  transform: translateY(-4px);
}

.where_user_is {
  display: flex;
  margin-top: 8px;
  align-items: center;
}

.city_name,
.divider,
.city_weather {
  margin-right: 42px;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: -0.3px;
}

.divider {
  height: 28px;
  width: 1px;
  background-color: var(--white);
  opacity: 0.5;
  transform: translate(0, -1px);
}

.time {
  position: absolute;
  right: 388px;
}

.time__whenSideBarShrinked {
  right: 180px;
}

#greeting {
  position: absolute;
  bottom: 200px;
}

.greeting-aside-margin {
  margin-right: 180px;
}

#greeting input {
  border: none;
  font-size: 40px;
  text-align: right;
  color: var(--white);
}

footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  bottom: 132px;
  left: 96px;
  color: var(--white);
}

.quote {
  font-size: 16px;
  font-weight: 400;
  text-shadow: 0 0 100px var(--black);
}

.author {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
  text-shadow: 0 0 100px var(--black);
}

.bgImage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  object-fit: cover;
}
