.tab_area {
  display: flex;
  align-items: end;
  height: 35px;
  width: inherit;
  background-color: var(--white);
  border-top-left-radius: 12px;
}

.input_area {
  height: 144px;
  width: inherit;
  border-top: 1px solid var(--gray200);
  border-bottom: 1px solid var(--gray200);
}

.input_area form {
  width: 206px;
  height: 96px;
  margin: 16px 10px 32px 10px;
}

.input_box__word {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  font-size: 12px;
  color: var(--gray700);
  justify-content: space-between;
}

.input_box__word input {
  margin-top: 4px;
  height: 23px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 1px solid var(--gray400);
}

.input_box__word input:hover {
  border-bottom: 1px solid var(--gray700);
}

.input_box__word input:focus {
  border-bottom: 1px solid var(--gray700);
}

.word_area__eng {
  flex: 1 0 auto;
  overflow-y: visible;
}

.word_area__jpn {
  flex: 1 0 auto;
  overflow-y: visible;
}

/*to-do list에서 쓰인 거*/
.input_box__word form {
  display: flex;
  flex-direction: column;
}

/*단지 수정기능에 쓰이는 코드..*/
.new_input {
  height: 23px;
  width: 180px;
  background-color: rgba(255, 255, 255, 4);
  border: none;
  border-bottom: 1px solid var(--gray400);
}

.new_input:hover {
  border-bottom: 1px solid var(--gray700);
}

/*
아래는 탭버튼
*/

.tab-button__default {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  padding: 0 22px;
  font-size: 15px;
  font-weight: 500;
  color: var(--gray400);
}

.tab-button__clicked {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  padding: 0 22px;
  border-bottom: 2px solid var(--black);
  font-size: 15px;
  font-weight: 500;
  color: black;
}

input[type="submit"] {
  display: none;
}

/*
  newWord css 만드는 곳
*/

.new_word_layout {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--gray200);
}

.new_word_firstrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 12px 2px 12px;
}

.new_word_title {
  font-size: 14px;
  font-weight: 700;
  color: var(--black);
  word-break: break-all;
}

.new_word_iconset span {
  margin-left: 16px;
}

.new_word_Desc {
  margin: 2px 12px 16px 12px;
  font-size: 13px;
  color: var(--black);
  word-break: break-all;
}

.new_word_firstrow_modifying {
  justify-content: flex-end;
  font-size: 12px;
}

.new_word_layout_modifying {
  height: 120px;
}

.new_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new_input {
  margin-bottom: 8px;
}

.new_word_iconset span:hover {
  background-color: var(--gray300);
  border-radius: 2px;
  color: var(--gray500);
}

.word_area__eng {
  height: calc(45vh - 10px);
  overflow-y: scroll;
}

.word_area__jpn {
  height: calc(45vh - 10px);
  overflow-y: scroll;
}

.new_word_layout:hover {
  background-color: var(--gray100);
}
